@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --color-cc-bg: #0a0f1e;
  --color-cc-card: #111827;
  --color-cc-accent: #7c3aed;
  --color-cc-accent-light: #9f67ff;
  --color-cc-text: #ffffff;
}

* {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--color-cc-bg);
  color: var(--color-cc-text);
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  input:not([type="checkbox"]) {
    @apply outline-none focus:ring border border-white/15 focus:ring-cc-accent focus:border-cc-accent rounded-lg bg-cc-card text-cc-text placeholder:text-white/40;
  }

  textarea {
    @apply outline-none focus:ring border border-white/15 focus:ring-cc-accent focus:border-cc-accent resize-none bg-cc-card text-cc-text placeholder:text-white/40 rounded-lg;
  }
}